.texto {
    color: rgba(9, 25, 100, 0.363);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    size: 100px;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 70px;

}

li  {
    color: rgb(44, 62, 119);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: none;
    
    
}

img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    align-items: center;
text-align: center;
    margin-left: 50px;

}

div { 
    text-align: center;
}